{% extends "base.html" %}
{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2> XX详情</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table id="datatable" class="table data-table table-detail table-bordered table-striped responsive-utilities jambo_table bulk_action">
            <tr class="headings">
                <th class="column-title">Key</th>
                <th class="column-title">Value</th>
            </tr>
            <!-- 该行复制N遍即可 -->
        </table>
    </div>
</div>
{% endblock %}
